#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.urgent {
    animation: pulse 1s infinite;
    font-weight: bold;
    color: red;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

